head
  title CEIC Partnering Service
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='#{base_url}assets/css/main.css')
  link(rel='shortcut icon', type='image/ico', href='#{base_url}assets/img/favicons/favicon.ico')
  link(rel='icon', type='image/png', href='#{base_url}assets/img/favicons/favicon.png')
  script(src='#{base_url}assets/js/vendor/jquery-1.11.3.min.js')
  script(src='#{base_url}assets/js/vendor/parsley.min.js')
  script(src='#{base_url}assets/js/form-triggers.js')
  // Scripts
  //if lte IE 8
    script(src='#{base_url}assets/js/vendor/respond.min.js')
  //if lte IE 9
    script(src='#{base_url}assets/js/vendor/html5shiv.js')
